cxf/web-services-spring-cxf-client/src/main/build-resources/wsdl/example.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://gumartinm.name/spring-ws/example" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://gumartinm.name/spring-ws/exampleService" targetNamespace="http://gumartinm.name/spring-ws/exampleService">
  <wsdl:types>
    <xs:schema xmlns:annox="http://annox.dev.java.net" xmlns:example="http://gumartinm.name/spring-ws/example" xmlns:inheritance="http://jaxb2-commons.dev.java.net/basic/inheritance" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:parent="http://gumartinm.name/spring-ws/parent" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" jaxb:extensionBindingPrefixes="inheritance annox" jaxb:version="2.1" targetNamespace="http://gumartinm.name/spring-ws/example">
    
    <!--
    	  When should an item be declared as an element versus when should it be defined as a type?
    	  When in doubt, make it a type. You can always create an element from the type, if needed. With a type, other elements can reuse that type.
    	  
    	  <xs:all> specifies that the child elements can appear in any order.
    	  
    	  <xs:sequence> specifies child elements can only appear in the order mentioned.
    -->

    <!--
        We are going to use catalog.cat in order to avoid downloading parent.xsd from remote server
        when creating Java objects from examples.xsd.
    -->
    <xs:import namespace="http://gumartinm.name/spring-ws/parent" schemaLocation="http://gumartinm.name/spring-ws/parent/parent.xsd"/>


	<!-- Spring requires the following:
	     1. XSD elements being used as request must end with Request name.
	     2. XSD elements being used as response must end with Response name.

		 IN THIS WAY SPRING FINDS OUT HOW TO CREATE THE wsdl:operation IN THE AUTOGENERATED WSDL.
		 
		 ExampleRequest and ExampleResponse will be associated to the wsdl:operation Example in the autogenerated wsdl and
		 the wsdl:operation Example will have the wsdl:request ExampleRequest and wsdl:response ExampleResponse  elements.
		 The same for CustomBindingExample.
	-->
	<!-- Using inheritance and annox plugin -->
	<xs:element name="ExampleRequest">
	   <xs:complexType>
	       <xs:annotation>
                <xs:appinfo>
                    <annox:annotate>@java.lang.SuppressWarnings({"unchecked","rawtypes"})</annox:annotate> 
                    <inheritance:implements>de.spring.webservices.operations.Request</inheritance:implements>
                </xs:appinfo>
            </xs:annotation>   
            <xs:all>
                <xs:element name="data" type="parent:limitedString"/>
            </xs:all>
        </xs:complexType>
	</xs:element>
    <xs:element name="ExampleResponse">
        <xs:complexType>
        <xs:annotation>
                <xs:appinfo>
                    <inheritance:implements>de.spring.webservices.operations.Response</inheritance:implements>
                </xs:appinfo>
            </xs:annotation>  
            <xs:all>
                <xs:element name="data" type="xs:string"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="ExampleFault">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element ref="parent:GeneralFault"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>


	<!-- Using custombinding.xjb instead of inheritance plugin.
		 Useful when you can not modify your xsd files because they are provided
		 by another person or company
	-->
    <xs:element name="CustomBindingExampleRequest">
	   <xs:complexType>
            <xs:all>
                <xs:element name="data" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="exampleDate" type="xs:dateTime"/>
                <xs:element maxOccurs="1" minOccurs="0" name="parentEnum" type="parent:parentEnumType"/>
            </xs:all>
        </xs:complexType>
	</xs:element>
    <xs:element name="CustomBindingExampleResponse">
        <xs:complexType>
            <xs:all>
                <xs:element name="data" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="exampleDate" type="xs:dateTime"/>
                <xs:element maxOccurs="1" minOccurs="0" name="parentEnum" type="parent:parentEnumType"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="CustomBindingExampleFault">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element ref="parent:GeneralFault"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>

	<!-- Example of creating array list by means of XSD -->
    <xs:complexType name="car">
    	<xs:sequence>
    		<xs:element name="data" type="xs:string"/>
    		<xs:element maxOccurs="100" minOccurs="0" name="parentEnum" type="parent:parentEnumType"/>
    	</xs:sequence>
    </xs:complexType>
    <xs:complexType name="truck">
    	<xs:all>
    		<xs:element name="data" type="xs:string"/>
    		<xs:element maxOccurs="1" minOccurs="0" name="parentEnum" type="parent:parentEnumType"/>
    	</xs:all>
    </xs:complexType>
    <xs:element name="vehicles">
        <xs:complexType>
        	<xs:sequence>
				<xs:element maxOccurs="unbounded" name="cars" type="example:car"/>
				<xs:element maxOccurs="100" minOccurs="0" name="trucks" type="example:truck"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="ExampleFault">
    <wsdl:part element="sch:ExampleFault" name="ExampleFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CustomBindingExampleFault">
    <wsdl:part element="sch:CustomBindingExampleFault" name="CustomBindingExampleFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ExampleRequest">
    <wsdl:part element="sch:ExampleRequest" name="ExampleRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ExampleResponse">
    <wsdl:part element="sch:ExampleResponse" name="ExampleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CustomBindingExampleResponse">
    <wsdl:part element="sch:CustomBindingExampleResponse" name="CustomBindingExampleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CustomBindingExampleRequest">
    <wsdl:part element="sch:CustomBindingExampleRequest" name="CustomBindingExampleRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Examples">
    <wsdl:operation name="Example">
      <wsdl:input message="tns:ExampleRequest" name="ExampleRequest">
    </wsdl:input>
      <wsdl:output message="tns:ExampleResponse" name="ExampleResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ExampleFault" name="ExampleFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CustomBindingExample">
      <wsdl:input message="tns:CustomBindingExampleRequest" name="CustomBindingExampleRequest">
    </wsdl:input>
      <wsdl:output message="tns:CustomBindingExampleResponse" name="CustomBindingExampleResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CustomBindingExampleFault" name="CustomBindingExampleFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExamplesSoap12" type="tns:Examples">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Example">
      <soap12:operation soapAction=""/>
      <wsdl:input name="ExampleRequest">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ExampleResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ExampleFault">
        <soap12:fault name="ExampleFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CustomBindingExample">
      <soap12:operation soapAction=""/>
      <wsdl:input name="CustomBindingExampleRequest">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CustomBindingExampleResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CustomBindingExampleFault">
        <soap12:fault name="CustomBindingExampleFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExamplesService">
    <wsdl:port binding="tns:ExamplesSoap12" name="ExamplesSoap12">
      <soap12:address location="http://localhost:8080/web-services-spring-cxf-server/spring-ws/example"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>