src/main/resources/wsdl/custombindingexample.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://localhost:8888/spring-ws/example" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8888/spring-ws/example" targetNamespace="http://localhost:8888/spring-ws/example">
  <wsdl:types>
    <xs:schema xmlns:inheritance="http://jaxb2-commons.dev.java.net/basic/inheritance" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" jaxb:extensionBindingPrefixes="inheritance" jaxb:version="2.1" targetNamespace="http://localhost:8888/spring-ws/example">
	

	<xs:element name="ExampleRequest">
	   <xs:complexType>
	       <xs:annotation>
                <xs:appinfo>
                    <inheritance:implements>de.spring.webservices.operations.Request</inheritance:implements>
                </xs:appinfo>
            </xs:annotation>   
            <xs:all>
                <xs:element name="data" type="xs:string"/>
            </xs:all>
        </xs:complexType>
	</xs:element>
    <xs:element name="ExampleResponse">
        <xs:complexType>
        <xs:annotation>
                <xs:appinfo>
                    <inheritance:implements>de.spring.webservices.operations.Response</inheritance:implements>
                </xs:appinfo>
            </xs:annotation>  
            <xs:all>
                <xs:element name="data" type="xs:string"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="CustomBindingExampleRequest">
	   <xs:complexType>
	       <xs:annotation>
                <xs:appinfo>
                    <inheritance:implements>de.spring.webservices.operations.Request</inheritance:implements>
                </xs:appinfo>
            </xs:annotation>   
            <xs:all>
                <xs:element name="data" type="xs:string"/>
            </xs:all>
        </xs:complexType>
	</xs:element>
    <xs:element name="CustomBindingExampleResponse">
        <xs:complexType>
        <xs:annotation>
                <xs:appinfo>
                    <inheritance:implements>de.spring.webservices.operations.Response</inheritance:implements>
                </xs:appinfo>
            </xs:annotation>  
            <xs:all>
                <xs:element name="data" type="xs:string"/>
            </xs:all>
        </xs:complexType>
    </xs:element>


</xs:schema>
  </wsdl:types>
  <wsdl:message name="CustomBindingExampleResponse">
    <wsdl:part element="tns:CustomBindingExampleResponse" name="CustomBindingExampleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CustomBindingExampleRequest">
    <wsdl:part element="tns:CustomBindingExampleRequest" name="CustomBindingExampleRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ExampleRequest">
    <wsdl:part element="tns:ExampleRequest" name="ExampleRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ExampleResponse">
    <wsdl:part element="tns:ExampleResponse" name="ExampleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Examples">
    <wsdl:operation name="CustomBindingExample">
      <wsdl:input message="tns:CustomBindingExampleRequest" name="CustomBindingExampleRequest">
    </wsdl:input>
      <wsdl:output message="tns:CustomBindingExampleResponse" name="CustomBindingExampleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Example">
      <wsdl:input message="tns:ExampleRequest" name="ExampleRequest">
    </wsdl:input>
      <wsdl:output message="tns:ExampleResponse" name="ExampleResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExamplesSoap11" type="tns:Examples">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CustomBindingExample">
      <soap:operation soapAction=""/>
      <wsdl:input name="CustomBindingExampleRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CustomBindingExampleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Example">
      <soap:operation soapAction=""/>
      <wsdl:input name="ExampleRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ExampleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExamplesService">
    <wsdl:port binding="tns:ExamplesSoap11" name="ExamplesSoap11">
      <soap:address location="http://127.0.0.1:8888/spring-ws/example"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>